/*全局变量*/
:root{
	/*body背景色,夜间模式为  */
	--bodyC:;
	/*顶部背景色，夜间模式为  */
	--TOPC:;
	/*主题背景色，夜间模式为  */
	--MIDC:
}

/*全局样式*/
*{
	padding: 0;
	margin: 0;
	/*outline:red 1px solid;*/
}
html{
	width: 100%;
	height: 100%;
}
.body{
	width: 100%;
	height: 100%;
}

/*PC样式*/
@media screen and (min-width: 1025px){

/*滚动条*/	
	/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
	::-webkit-scrollbar{
		width: 8px;
	}
	
	/*定义滚动条轨道角*/
	::-webkit-scrollbar-track{
		background-color: blue;
		border-radius: 10px;
	}
 
	/*定义滑块*/
	::-webkit-scrollbar-thumb{
		border-radius: 10px;
		background-color: red;
	}
	/*箭头按钮*/
	::-webkit-scrollbar-button{

	}
	html{
		display: flex;
		flex-direction: column;
	}
	.body{
		display: flex;
		flex-direction: column;
		background-color:RGB(21, 24, 39);
	}
	p{
		color: white;
	}
	div{
		color: white;
	}
/*顶栏样式*/
	#TOP{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color:RGB(26, 31, 50);
	}
/*logo*/
	#logoimg{
		padding: 6px;
		height: 64px;
	}
/*中部文本*/
	#toptext{
		padding: 6px;
		flex: 1;
		font-size: 24px;
		font-weight:bolder;
	}
/*右方文本*/
	#sets{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto 6px;
	}
/*主体样式*/
	#MID{
		display: flex;
		height: calc(100% - 73px);
		min-height: 300px;
	}
	.mid{
		margin: 16px;
		border-radius: 16px;
		display: flex;
		background:RGB(26, 31, 50);
	}
/*目录栏*/
	#MIDL{
		width: 15%;
		flex-direction:column;
	}
	#MIDLT{
		display: flex;
	}
	#MIDLB{
		overflow-y:auto;
		display: flex;
		flex: 1;
		flex-direction: column;
		margin: 16px 8px;
	}

/*目录展开收起按钮*/
	#showhide{
		margin:6px 6px 6px auto;
		height: 24px;
		width: 24px;
	}

/*中间页面*/
	#MIDM{
		flex-direction: column;
		padding: 8px;
		margin: 16px 0px;
		flex:1;
	}
	#MIDMT{
		flex: 1;
	}
	#MIDMhr{
		margin: 8px 0px;
		height: 2px;
		background-color: green;
	}
	#MIDMB{
		display: flex;
		flex-direction: row;
	}
	#msg{
		display: flex;
		align-items: center;
	}
	.Btns{
		margin: 2px 6px;
		padding: 4px 6px;
		border-radius: 12px;
		border: black solid 2px;
		box-shadow: 2px 2px 6px grey;
	}
/*右边侧边栏*/
	#MIDR{
		width: 15%;
	}
	#MIDRR{
		flex: 1;
		margin: 8px;
	}
/*底部*/
	#BOT{
		height: 16px;
	}
}


@media screen and (max-width: 1024px){

}

/*目录页面样式*/
#MIDLL{

}

.blockt,.menus{
	padding:6px;
}