*{
	padding: 0;
	margin: 0;
	outline: red 1px solid;
}
html,body{
	width: 100%;
	height: 100%;
	min-height: 300px;
}
@media (min-width: 1025px){
	#hover{
		display: none;
		background-color:rgba(0,0,0,0.5);
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
	}
	#body{
		display: flex;
		width: 100%;
		height: 100%;
		background-color: rgba(218,255,252,1.00);
	}
	#left{
		display: flex;
		width: 18%;
		height: 100%;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
	}
	#Ltop,#Lbot,#Lmid{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	#Ltop{}
	#Llogo{
		width: 80%;
	}
	#Lmid{
		flex: 1;
	}
	#menubar{
		margin: 8px;
		height: calc(100% - 16px);
		width: 100%;
	}
	#Lbot{
		height: 32px;
	}
	#right{
		flex: 1;
	}
}

@media (max-width: 1024px){
	
}
