/*全局变量*/
:root{

}

/*全局样式*/
*{
	padding: 0;
	margin: 0;
	outline:red 1px solid;
}
html{
	width: 100%;
	height: 100%;
}
.body{
	width: 100%;
	height: 100%;
}

/*PC样式*/
@media screen and (min-width: 1025px){

/*滚动条*/	
	/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
	::-webkit-scrollbar{
		width: 8px;
	}
	
	/*定义滚动条轨道角*/
	::-webkit-scrollbar-track{
		background-color: blue;
		border-radius: 10px;
	}
 
	/*定义滑块*/
	::-webkit-scrollbar-thumb{
		border-radius: 10px;
		background-color: red;
	}
	/*箭头按钮*/
	::-webkit-scrollbar-button{

	}
	
	
/*顶栏样式*/
	#TOP{
		display: flex;
		justify-content: center;
		align-items: center;
	}
/*logo*/
	#logoimg{
		padding: 6px;
		height: 64px;
	}
/*中部文本*/
	#toptext{
		padding: 6px;
		flex: 1;
	}
/*右方文本*/
	#sets{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto 6px;
	}
/*主体样式*/
	#MID{
		display: flex;
		height: calc(100% - 76px - 16px);
	}
	.mid{
		margin: 8px;
		border-radius: 16px;
	}
/*目录栏*/
	#MIDL{
		display: flex;
		width: 15%;
		flex-direction:column;
		background-color:green;
	}
	#MIDLT{
		display: flex;
	}
	#MIDLB{
		overflow-y:auto;
		display: flex;
		flex: 1;
		flex-direction: column;
		margin: 16px 8px;
	}

/*目录展开收起按钮*/
	#showhide{
		margin:6px 6px 6px auto;
		height: 24px;
		width: 24px;
	}

/*中间页面*/
	#MIDM{
		flex:1;
	}

/*右边侧边栏*/
	#MIDR{
		width: 15%;
	}
/*底部*/
	#BOT{
		height: 16px;
	}
}


@media screen and (max-width: 1024px){

}

/*目录页面样式*/
#MIDLL{

}

.blockt,.menus{
	padding:6px;
}