@import"../Pages/CSS/menus.css";

*{
	padding: 0;
	margin: 0;
	outline: red 1px solid;
}
html,body{
	width: 100%;
	height: 100%;
	min-height: 500px;
}
@media (min-width: 1025px){
  /*::-webkit-scrollbar 滚动条整体部分，可以设置宽度啥的
	::-webkit-scrollbar-button 滚动条两端的按钮
	::-webkit-scrollbar-track  外层轨道
 	::-webkit-scrollbar-track-piece  内层滚动槽
 	::-webkit-scrollbar-thumb 滚动的滑块
	::-webkit-scrollbar-corner 边角
	::-webkit-resizer 定义右下角拖动块的样式
	*/
	::-webkit-scrollbar{
		width: 6px;
	}
	::-webkit-scrollbar-track{
		border-radius: 2px;
		background-color: darkgrey;
	}
	::-webkit-scrollbar-thumb{
		border-radius: 2px;
		background-color: grey;
	}
	
	#hover{
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color:rgba(0,0,0,0.2);
		position:absolute;
		width: 100%;
		height: 100%;
		min-height: 500px;
		backdrop-filter:blur(6px);
		transition: all 0.5s;
	}
	#Htost{
		width: 400px;
		height: 300px;
		min-width: 400px;
		min-height: 300px;
		background-color: white;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-shadow: 2px 2px 36px grey;
	}
	
	button{
		width: 60px;
	}
	#body{
		display: flex;
		width: 100%;
		height: 100%;
		background-color: rgba(218,255,252,1.00);
		overflow-x: auto;
		overflow-y: auto;
	}
	#left{
		display: flex;
		background-color: rgba(22,255,236,1.00);
		box-shadow: 0px 0px 16px black;
		width: 15%;
		height: 100%;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
	}
	#Ltop,#Lbot,#Lmid{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	#Ltop{
		
	}
	#Llogo{
		width: 80%;
	}
	#Lmid{
		flex: 1;
		width: 100%;
		height: 0;
	}
	#menubar{
		height: 80%;
		width: 80%;
		overflow-y: auto;
	}

	#Lbot{
		height: 32px;
	}
	
	#Right{
		flex: 1;
		background-color: grey;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	
	#Rightt{
		height: 20px;
		width: 100%;
	}
	#Rightb{
		width: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	#Rmid{
		flex: 1;
	}
}

@media (max-width: 1024px){
	
}
